<ion-view view-title="小夥伴專區"  hide-nav-bar="true">
  
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title"><img class="title-image" src="img/logo_hk.png" /></h1>
  </ion-header-bar>
   

  <ion-content >

  

    <ion-refresher
        pulling-text="Reload ..."
        on-refresh="loadConfig()" >
    </ion-refresher >

    <ion-list>
      <div class="list card"
           ng-repeat="serv in friendConfig.services"
           ui-sref="tab.ep()"
           >

        <div class="item item-thumbnail-left" >
        <img ng-src="{{ serv.serviceImageURL }}" >
          <h2>{{ serv.serviceName }}</h2 >
          <p class="sub-title" ><i class="icon ion-ios-clock-outline"></i> 計劃開始日期：{{serv.startDate}}
          <h4 ng-if="serv.serviceDescription">{{ serv.serviceDescription }}</h4 >
          <frank-progress-bar-line progress-total="{{serv.totalCoursesAvailable}}" progress-current="{{serv.coursesCompleted}}"></frank-progress-bar-line>
        </div >



       
        <div class="item" >

            <h4><i class="icon ion-person-stalker"></i> 小夥伴中的排名: {{serv.ranking}} of {{serv.totalUsers}}</h4>
            <h4><i class="icon ion-checkmark-circled"></i> 完成的課程數目: {{serv.coursesCompleted}} of {{serv.totalCoursesAvailable}}</h4>            
            <h4><i class="icon ion-log-in"></i> 電郵自動發送狀態: 

            <span ng-if="serv.autoSendPeriod > 0">每 {{serv.autoSendPeriod}} 天自動發送 </span>
            <span ng-if="serv.autoSendPeriod == 0">未啟動 </span>
            <!--
            <br/> <br/>
            <h4><i class="icon ion-clock"></i> 最近幾次的課程溫習: </h4>



            </h4>

            <div class="list card" ng-repeat="course in serv.recentCourses">
              <div class="item item-thumbnail-left" >
              <img ng-src="{{ serv.serviceImageURL }}" >
                <h2>{{ course.title }}</h2 >
                <p class="sub-title" ><i class="icon ion-ios-clock-outline"></i> {{course.createDate}}
                <h4 ng-if="serv.serviceDescription">{{ course.level }}</h4 >
                
              </div >
          </div>
          -->


          

        </div >


        
      </div >
    </ion-list>



  </ion-content >
</ion-view >