<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css?v=7" />
<link rel="stylesheet" type="text/css" href="css/blogstyle.css?v=901" />

<style>
	


</style>

<ion-view view-title="{{blog.entry.title}}" >
	<ion-content class="post" lazy-scroll>

		<div class="featured-image"  ng-if="blog.entry.indexImagePath" >
			<img ng-src="{{blog.entry.indexImagePath}}"
			     alt="" />
		</div >
		<div class="padding" >
			<h4>{{blog.entry.title}}</h4 >

			<p class="date" >{{blog.entry.publishDate}}</p >

			<div class="container" id="container" bind-html-compile="blog.entry.content" >
					
		    </div> <!-- container  ng-bind-html="blog.entry.content" -->
	</ion-content >

	<!--
	<ion-footer-bar class="bar-assertive" >
		<button class="button button-clear"
		        ng-click="share()" >
			<i class="ion-ios-upload-outline" ></i >
			&nbsp;Share
		</button >
		<button class="button button-clear pull-right"
		        ng-click="readMore()" >Read More
		</button >
	</ion-footer-bar >
	-->
	
</ion-view >