<ion-view view-title="Photo">
  <ion-content>
    <ion-list can-swipe="true">

      <ion-refresher pulling-text="Reload..." on-refresh="doRefresh()"></ion-refresher>

      <ion-item ng-repeat="photo in photos.results" class="item-thumbnail-left">
        <img ng-src="{{SERVER_URL+photo.lowServerUrl}}">
        <h2>{{photo.caption}}</h2>

        <p>
          <span>
            <i class="ion ion-ios-navigate"></i>
            </span>
        </p>
        <p>
          <i class="ion ion-ios-location"></i>
        </p>
        <p>
            <i class="ion ion-person"></i>
            </span>
        </p>




      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="photos.hasMore" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>


  </ion-content>
</ion-view>
