<ion-view view-title="Photo" hide-nav-bar="true">
  
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title"><img class="title-image" src="img/logo_hk.png" /></h1>
  </ion-header-bar>

  <ion-content>    
    <ion-refresher pulling-text="Reload..." on-refresh="doRefresh()"></ion-refresher>
    <ion-gallery ion-gallery-items="photos.results" ></ion-gallery>
    <ion-infinite-scroll ng-if="photos.hasMore" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
