<ion-view view-title="English Pod" hide-nav-bar="false">
  
  
  
  <ion-content>




    <ion-refresher
        pulling-text="Reload ..."
        on-refresh="doRefresh()" >
    </ion-refresher >

    

    <div class="row" style="margin:0px;padding-bottom:0px;">
       <div class="col text-left" style="margin:0px;padding-bottom:0px;">
          <button class="button ion-plus-round button-outline button-small button-balanced"> 開始新課程</button>
       </div>
    </div>

    <ion-list>

      <ion-audio-track ng-repeat="track in englishPodService.results" track="track">
          <div class="list list-inset">
              <div class="item item-thumbnail-left">
                  <img src="{{track.art}}">
                  <h2><span style="font-size:70%;">L{{track.fileId}}</span> <strong>{{track.title}}</strong></h2>
                  <p>{{track.level}} </p>
                  <p><small>你于 {{track.createDate}} 首次開始此課程</small></p>
                  <ion-audio-controls>
                        <a class="button button-icon icon" ng-show="track.isDownloaded" ion-audio-play></a>
                        <a class="button button-icon icon" ng-hide="track.isDownloaded" ion-audio-download></a>
                        <ion-spinner icon="ios"></ion-spinner>
                    </ion-audio-controls>
                     <div ng-hide="track.isDownloaded" style="border-top:2px solid black;width:{{track.downloadProgress}}%;">
                             
                    </div>
              </div>
             
             

          </div>
      </ion-audio-track>
      <div class="podcast-place-holder"></div>
    </ion-list>
   

    <ion-infinite-scroll ng-if="englishPodService.hasMore" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>

  </ion-content>
  <div class="audio-control">
   <div class="card">

      <div class="item item-divider item-stable">
        <ion-audio-progress-bar display-time display-info></ion-audio-progress-bar>
      </div>
   </div>
  </div>

</ion-view>
