<ion-view view-title="Blog">
  
  
   

  <ion-content >

   <ion-refresher
        pulling-text="Reload ..."
        on-refresh="doRefresh()" >
    </ion-refresher >

    <!--
    This is the list of results rendered in the built in ionic 'card' list style.
    -->
    <ion-list>
      <div class="list card"
           ng-repeat="post in blogs.results"
           ui-sref="post({id:post.link})">

        <div class="item" >
          <h2 >{{ post.title }}</h2 >

          <p class="sub-title" ><i class="icon ion-ios-clock-outline"></i> {{ post.createDate }}</p >
        </div >

        <div class="item item-image" ng-if="post.indexImagePath" >
          <img ng-src="{{ post.indexImagePath }}" >
        </div >

        <div class="item item-body" ng-if="post.desc">
          <p >{{post.desc}}</p >
        </div >
      </div >
    </ion-list>

    <ion-infinite-scroll ng-if="blogs.hasMore" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>

  </ion-content >
</ion-view >