<ion-view view-title="Friends"  hide-nav-bar="true">
  
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title"><img class="title-image" src="img/logo_hk.png" /></h1>
  </ion-header-bar>
   

  <ion-content >

  

    <!--
    This is the list of results rendered in the built in ionic 'card' list style.
    -->
    <ion-list>
      <div class="list card"
           ng-repeat="serv in friendConfig.services"
           >

        <div class="item" >
          <h2>{{ serv.serviceName }}</h2 >

          <p class="sub-title" ><i class="icon ion-ios-clock-outline"></i> 計劃開始日期：{{serv.startDate}}</p >
        </div >

        <div class="item item-image" ng-if="post.indexImagePath" >
          <img  >
        </div >

        <div class="item item-body" ng-if="serv.serviceDescription">
          <p >{{serv.serviceDescription}}</p >
          <ion-frank-progress-bar-line ng-model="serv">

          </ion-frank-progress-bar-line>
        </div >
      </div >
    </ion-list>



  </ion-content >
</ion-view >