/* Empty. Add your own CSS if you like */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.bar-header .title img {
	height: 24px;
	width:158px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -5px;
}

/* http://stackoverflow.com/questions/25719408/angularjs-animate-image-on-src-change */
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    /*transition: all linear 0.5s;*/
    transition: opacity .25s ease-in-out;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.audio-control{
	z-index:999;
	width:100%;
	position:fixed;
	bottom:30px;
	margin:0px;
	padding:10px;
}
.audio-control.card{
	width: 90%;
}
.podcast-place-holder{
	margin-top:120px;
}

