/* Empty. Add your own CSS if you like */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.bar-header .title img {
	height: 24px;
	width:158px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -5px;
}


